.site-hero-banner {
    background-color: #fff;
}


.site-hero-banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    min-height: 15em;
    justify-content: center;
  }

  .site-hero-banner .container h2 {
    font-size: 2em;
    padding-top: 1em;
    color: #5f5f5f;
  }

  .site-hero-banner .container p {
    color: #c3bcb8;
    max-width: 81ch;
    text-align: center;
    margin: 0.3em 0;
  }

 .button {
    margin-top: 0.5em;
 }


  .cta a {
    display: block;
    color: white;
    font-weight: normal;
    text-decoration: none;
    background-color: #974d1b;
    padding: 0.6em 1.4em;
  }